:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

hr {
    margin: 0;
}

.rodapé {
    background-color: var(--branco);
    padding: 1em;
    font-family: var(--fonte-principal);
}

.lista-rodapé {
    display: none;
}

@media (min-width: 1024px){
    .rodapé__titulo{
        font-size: 24px;
        white-space: nowrap;
    }

    .rodapé{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5em;
    }

    .lista-rodapé{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        flex-grow: 1;
        max-width: 350px;
    }

    .lista-rodapé__titulo{
        color: var(--cinza-claro);
        padding-bottom: 1em;
    }

    .lista-rodapé__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
    }

    .lista-rodapé__link{
        color: var(--cinza);
        text-decoration: none;
        white-space: nowrap;
    }
}

@media (min-width: 1728px){
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodapé {
        padding: 3em 0;
    }
}