@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

.cabeçalho__menu-hamburguer{
    height: 24px;
    width: 24px;
    background-image: url(../../imagens/Menu.svg);
    display: inline-block;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
}

.cabeçalho .container:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 1rem;
}

.cabeçalho > .container:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-right: 1rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu{
    background-color: var(--branco);
    width: 68vw;
}

.lista-menu__item, .lista-menu__titulo{
    padding: 1rem;
    font-family: var(--fonte-principal);
}

.lista-menu__item{
    text-transform: uppercase;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item:hover{
    background: var(--azul-degrade);
    color: white;
}

.lista-menu__link{
    color: var(--azul-degrade);
    text-decoration: none;
}

.container__titulo{
    display: none;
}

.opções{
    display: none;
    position: relative;
}

.opções__botão{
    display: none;
}

@media (min-width: 1024px){
    .menu, .cabeçalho__menu-hamburguer{
        display: none;
    }

    .container__titulo{
        display: block;
        color: #000;
        font-family: var(--fonte-secundario);
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        padding-top: 10px;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opções{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5em;
        position: relative; /* "referencia" para o .lista-menu */
    }

    .lista-menu{
        position: absolute;
        top: 100%;
    }

    .opções__item{
        text-transform: uppercase;
        cursor: pointer;
    }

    .opções__item:hover, .opções__item>a{
        color: var(--azul);
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opções__botão:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opções__botão:checked~.opções__rotulo>.opções__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções__item {
        padding: 2em 1em;
        font-family: var(--fonte-principal);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .cabeçalho .container:nth-child(3){
        gap: 3em;
        padding-right: 2em;
    }

    .container:nth-child(3) > :nth-child(1){
        display: none;
    }
}