:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

.topicos{
    background: var(--azul-degrade);
    padding-bottom: 1.5em;
}

.topicos__titulo{
    text-align: center;
    color: var(--branco);
    font-weight: 300;
    padding: 1.5em 0;
    font-family: var(--fonte-principal);
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
    gap: 0.5em;
}

.topicos__item{
    background-color: var(--laranja);
    padding: 1rem;
}

.topicos__item:hover{
    background-color: #b47800;
}

.topicos__link{
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 14px;
}

@media (min-width: 1024px){
    .topicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .topicos__titulo{
        font-size: 24px;
    }

    .topicos__lista{
        max-width: 100%;
        gap: 1em;
    }

    .topicos__item{
        padding: 1.7em 2.2em;
    }

    .topicos__link{
        font-size: 24px;
    }
}

@media (min-width: 1024px){
    .topicos{
        padding: 0 0 3em 0;
    }

    .topicos__titulo{
        font-size: 32px;
    }

    .topicos__lista{
        max-width: 60%;
        gap: 1em;
    }
}